 <div id="myinfo">
 <div class="pure-menu pure-menu-open" >
                    <a class="pure-menu-heading">Official Edit

                    </a>
                    <a class="pure-menu-heading">
                       <%= render 'form' %>
                    </a>


</div>
